<div ng-controller="app.views.phonebook.index as vm">
    <div class="row">
        <div class="col-md-12">

            <h3>@L("AllPeople")</h3>
            <button class="btn btn-primary blue" ng-click="vm.createPerson()">@L("CreatePerson")</button>
            <table class="table">
                <tr>
                    <th>@L("Name")</th>
                    <th>@L("Surname")</th>
                    <th>@L("EmailAddress")</th>
                    <th>@L("PhoneNumber")</th>
                    <th>@L("Actions")</th>

                </tr>
                <tr ng-repeat="person in vm.persons">
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{person.emailAddress}}</td>
                    <td>{{person.phoneNumber}}</td>
                    <td>
                        <a class="btn btn-danger"ng-click="vm.deletePerson(person.id)">@L("Delete")</a>
                        <a class="btn btn-warning"ng-click="vm.editPerson(person.id)">@L("Edit")</a>

                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
